.footer {
  margin-top: 200px;
  background-color: var(--topline-header-color);
  overflow: hidden;

  &__container {
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 1fr);
    column-gap: 5rem;
    text-align: start;
  }

  &__logo {
    img {
      width: 180px;
      height: 70px;
    }
  }

  &__title {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: var(--mb-0-75);
  }

  &__description {
    font-size: var(--small-font-size);
    margin-top: 0.5rem;
  }

  &__link {
    font-size: var(--small-font-size);
    color: var(--text-color);

    &:hover {
      color: #f6f9fc;
      transition: ease-in-out 0.3s;
    }
  }

  &__links {
    display: grid;
    row-gap: 0.5rem;
  }

  &__social {
    display: flex;
    column-gap: 1.5rem;
    margin-top: 0.5rem;
  }

  &__copy {
    margin-top: 4rem;
    text-align: center;
    font-size: var(--smaller-font-size);
    color: #ffffff;
  }
}