.updatePasswordContainer {
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 121px;
    left: 0;



}

.updatePasswordBox {
    background-color: white;
    width: 25vw;
    height: 75vh;
    box-sizing: border-box;
    border-radius: 0.3125rem;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.updatePasswordHeading {
    text-align: center;
    color: rgba(0, 0, 0, 0.623);
    font: 400 1.3vmax "Roboto";
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
    width: 50%;
    padding: 1.3vmax;
    margin: auto;
}



.updatePasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    //  margin-top: 0.8vmax;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
}


.updatePasswordForm>div {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 2vmax;

}


.updatePasswordForm>div>input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 1vmax cursive;
    outline: none;
}



.btn {
    &__cart {
        padding: 0.8vmax;
        margin-top: 2vmax;
    }
}

.lefticon {
    position: absolute;
    transform: translate(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
}

.righticon {
    position: absolute;
    transform: translate(18vmax);
    font-size: 1.4vmax;
    color: rgba(0, 0, 0, 0.623);
    cursor: pointer;
}