.topheader {
  width: 100%;
  background-color: var(--topline-header-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_lists {
    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      box-icon {
        margin-right: 0.5rem;
        vertical-align: middle;
      }
      a {
        color: var(--text-color-top);
        font-size: var(--small-font-size);
      }
    }
  }
}
.colorlist:hover {
  color: var(--botton-color);
  transition: ease-in-out 0.3s;
}
.topheader-scroll {
  display: none;
}
