.sidebar {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
}

.sidebar a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font: 200 1rem "Roboto";
    padding: 2rem;
    transition: all ease-in-out 0.5s;

    &:hover {
        color: #0f3461;
        transform: scale(1.1);
    }
}

.sidebar a>p {
    display: flex;
    align-items: center;
}

.sidebar a>p>svg {
    margin-right: 0.5rem;
}