.dashboard {
    position: absolute;
    top: 7.5rem;
    width: 100%;
}

.productListContainer {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;

}

#productListHeading {
    font: 400 2rem "Roboto";
    padding: 0.5rem;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.5s;
    margin: 1rem;

}

.productListTable {
    background-color: white;
    border: none !important;
}

.productListTable div {
    border: none !important;
}

.productListTable a {
    color: rgb(8 15 36 / 68%);
    transition: all 0.5s;

    &:hover {
        color: tomato;
    }
}

.MuiDataGrid-columnHeader div {
    color: rgb(255, 255, 255)
}

.MuiButton-root {
    color: rgb(40 51 106 / 87%);
}

.productListTable button:hover {
    color: rgb(216, 30, 36);
}