.updateuserform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
    background-color: #fff;
    width: 55vh;
    height: 75vh;
    box-shadow: 0 0 10px rgb(0 0 0 / 27%);
    transition: all 0.5s;
}

.updateuserform>div {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 2vmax;
}

.updateuserform>div>input,
.updateuserform>div>select {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 1vmax cursive;
    outline: none;
}

.updateuserform>div>svg {
    position: absolute;
    transform: translate(1vmax);
    font-size: 2vmax;
    color: var(--button-color);
}