.productdetails {
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 7.5rem;

  &__container {
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__imgCarousel {
    // width: 40%;
    // padding-right: 2rem;
    padding-right: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;

    &:last-child {
      align-items: flex-start;
    }
  }

  &__desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;

    &:last-child {
      align-items: flex-start;
    }

    &__detailsblock-1 {
      h2 {
        font-size: var(--biggest-font-size);
        font-weight: var(--font-bold);
        color: var(--title-color);
      }

      p {
        color: var(--text-color);
        font-family: "Roboto", sans-serif;
      }
    }

    &__detailsblock-2 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-top: 0.5px solid rgba(0, 0, 0, 0.2);
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
      width: 70%;
      padding: 1rem 0;

      &--span {
        font: 300 1.4vmax cursive;
        color: black;
      }
    }

    &__detailsblock-3 {
      h1 {
        font-size: var(--h2-font-size);
        font-weight: var(--font-bold);
        color: var(--button-color);
        padding-bottom: 1rem;
      }

      &__1 {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding-bottom: 0.5rem;

        &-1 {
          display: flex;
          align-items: center;
          justify-content: space-between;

          input {
            width: 50px;
            text-decoration: none;
            border: none;
            outline: none;
            display: inline-block;
            align-items: center;
            text-align: center;
            background-color: transparent;
            margin: 0 0.3rem;
            font-size: 20px;
            font-weight: 600;
            color: #2b3445;

            &:active {
              border: none;
              outline: none;
            }
          }
        }
      }

      p {
        border-top: 0.5px solid rgba(0, 0, 0, 0.2);
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
        width: 50%;
        padding: 1rem 0;
        color: var(--title-color);
        font-family: "Roboto", sans-serif;
        font-weight: 400;
      }
    }

    &__detailsblock-4 {
      color: #2b3445;
      font-weight: 600;
      margin-bottom: 1rem;

      p {
        font-size: 14px;
        color: #2b3445;
        font-family: "roboto", sans-serif;
        font-weight: 400;
      }
    }
  }
}

.submitDialog {
  display: flex;
  flex-direction: column;
}

.submitDialogTextArea {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 1vmax 0;
  outline: none;
  padding: 1rem;
  font: 300 1rem "Roboto";
}



.CarouselImage {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.descriptioreview__tab {
  margin: 2rem 1.5rem;
  padding: 0 3rem;

  //imported react-tab compoenet sytles
  .react-tabs__tab-list {
    border-bottom: 1px solid #d24159;
    margin: 0 0 1.5rem;
    padding: 0;
  }

  .react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    color: #373f50;
    font-weight: 550;
  }

  .react-tabs__tab--selected {
    background: transparent;
    border-color: #d24159;
    color: #d24159;
    border-radius: 5px 5px 0 0;
    font-weight: 550;
  }
}

.tab_description_content {
  width: 60%;
  font-size: 14px;
  color: #2b3445;
  font-family: "roboto", sans-serif;
}

.noreview {
  text-align: center;
  font-size: 1.5rem;
  color: #2b3445;
  font-family: "roboto", sans-serif;
}