.reviewCard {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;

  &__reviews {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;

    &__imgwrapper {
      position: relative;
      width: 48px;
      height: 48px;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    &__namewapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h2 {
        font-family: "roboto", sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #2b3445;
        line-height: 25px;
      }

      &__onediv {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }

  p {
    font-family: "cursive";
    font-size: 14px;
    font-weight: 400;
    color: rgb(54, 60, 70);
    text-transform: none;
    white-space: normal;
    line-height: 1.75;
  }
}